{{ partial "head.html" . }}

<body>
  {{ partial "navbar.html" . }}
  <div class="container">
    <div class="page-container">
      <h1>{{ .Title }}</h1>
      {{ .Content | markdownify }}
    </div>
  </div>
</body>
</html>