<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/dream_of_birth/sylvie-small-web.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/dream_of_birth/sylvie-small-web2.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/dream_of_birth/sylvie-small-web3.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/dream_of_birth/sylvie-small-web4.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/dream_of_birth/sylvie-small-web5.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/dream_of_birth/sylvie-small-web6.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/dream_of_birth/sylvie-small-web7.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/dream_of_birth/sylvie-small-web8.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/dream_of_birth/sylvie-small-web9.jpg"/>
</div>
