<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <!-- <a href="javascript:void(0)" class="logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source{{ .Site.BaseURL }}images/placeholder_square.png" alt="Logo Image">
    </a> -->
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <!-- categories  -->
        <li class="nav-link"><a href="{{ .Site.BaseURL }}?0" class="category">SHIWEI ART</a></li>
        <li class="nav-link"><a href="{{ .Site.BaseURL }}?dream-of-birth" class="category">Dream of birth</a></li>
        <li class="nav-link"><a href="{{ .Site.BaseURL }}?hybrid-instinct" class="category">Hybrid instinct</a></li>
        <li class="nav-link"><a href="{{ .Site.BaseURL }}?rorschach" class="category">Rorschach</a></li>
        <li class="nav-link"><a href="{{ .Site.BaseURL }}?rorschach-emotions" class="category">Rorschach emotions</a></li>
        <li class="nav-link"><a href="{{ .Site.BaseURL }}?dune" class="category">Dune</a></li>
        <li class="nav-link"><a href="{{ .Site.BaseURL }}?voir" class="category">Voir</a></li>
        <li class="nav-link"><a href="{{ .Site.BaseURL }}?performance" class="category">PERFORMANCE</a></li>

        <!-- end of categories -->
        <br><br><br>
        <li class="nav-link"><a href="{{ .Site.BaseURL }}?video-first-instinct" class="category">VIDEOS</a></li>
        <li class="nav-link"><a href="{{ .Site.BaseURL }}?video-first-instinct" class="category">First Instinct</a></li>
        <li class="nav-link"><a href="{{ .Site.BaseURL }}?video-dream-of-birth" class="category">Dream of Birth</a></li>
        <li class="nav-link"><a href="{{ .Site.BaseURL }}?video-rorschach-emotions" class="category">Rorschach Emotions</a></li>
        <li class="nav-link"><a href="{{ .Site.BaseURL }}?video-dune" class="category">Dune</a></li>
        <br><br><br>
        <li class="nav-link"><a href="/biography">BIOGRAPHY</a></li>
        <li class="nav-link"><a href="/manifesto">MANIFESTO</a></li>
        <li class="nav-link"><a href="/exhibitions">EXHIBITIONS</a></li>
        <li class="nav-link"><a href="/contact">CONTACT</a></li>
      </ul>
    </nav>
  </div>
</header>
