<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/rorschach_emotions/sylvie-small-web31.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/rorschach_emotions/sylvie-small-web32.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/rorschach_emotions/sylvie-small-web33.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/rorschach_emotions/sylvie-small-web34.jpg"/>  
</div>
