<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/rorschach/sylvie-small-web39.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/rorschach/sylvie-small-web40.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/rorschach/sylvie-small-web41.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/rorschach/sylvie-small-web42.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/rorschach/sylvie-small-web43.jpg"/>
</div>
<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/rorschach/sylvie-small-web44.jpg"/>
</div>