<div class="img-container">
  <iframe src="//player.vimeo.com/video/123246805?api=1&portrait=0&title=0&byline=0" style="width:70%;height:100%;" frameBorder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="img-container">
  <iframe src="//player.vimeo.com/video/44517831?api=1&portrait=0&title=0&byline=0" style="width:70%;height:100%;" frameBorder="0" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="img-container">
  <iframe src="//player.vimeo.com/video/36978065?api=1&portrait=0&title=0&byline=0" style="width:70%;height:100%;" frameBorder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
<div class="img-container">
  <iframe src="//player.vimeo.com/video/159950173?api=1&portrait=0&title=0&byline=0" style="width:70%;height:100%;" frameBorder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>
