<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/voir/sylvie-small-web.jpg"/>
</div>

<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/voir/voir1.jpg"/>
</div>

<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/voir/voir2.jpg"/>
</div>

<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/voir/voir3.jpg"/>
</div>

<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/voir/voir4.jpg"/>
</div>

<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/voir/voir5.jpg"/>
</div>

<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/voir/voir6.jpg"/>
</div>

<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/voir/voir7.jpg"/>
</div>

<div class="img-container">
  <img data-lazy="{{ .Site.BaseURL }}images/voir/voir8.jpg"/>  
</div>