{{ partial "head.html" . }}

<body>
  {{ partial "navbar.html" . }}
  <div class="container">
    <div class="slider">
      <img src="{{ .Site.BaseURL }}images/other/background.jpg" id="bg" />
      {{ partial "dream_of_birth.html" }}
      {{ partial "hybrid_instinct.html" }}
      {{ partial "rorschach.html" }}
      {{ partial "rorschach_emotions.html" }}
      {{ partial "dune.html" }}
      {{ partial "voir.html" }}
      {{ partial "performance.html" }}
      {{ partial "videos.html" }}
    </div>
  </div>
  <script type="text/javascript" src="{{ .Site.BaseURL }}js/mySlick.js"></script>
</body>
</html>
