$medium-screen: em(640);
$large-screen: em(860);

.page-container {
  width: 100%;
  height: 100%;
  padding: 0 13%;
  text-align: left;
  margin-bottom: 9%;
  margin-top: 9%;
  font-family: 'Roboto Condensed', sans-serif;
  p {
    word-break: normal;
    font-size: 16px;
  }
  ul,li {
   text-align: left;
   font-size: 16px;
  }
  h1,h2 {
   text-align: center;
  }
  h2#publications {
    text-align: left;
  }
}

img {
  margin: auto;
  max-width: 100% !important;
  max-height: 100% !important;
}
img#bg {
  width: 100vw !important;
}

.slick-initialized,
.slider,
.slick-slider{
  height: 100%;
}

.slick-list,
.draggable,
.slick-track {
  height: 100%;
}

.slick-prev,
.slick-next {
    font-size: 0;
    position: absolute;
    bottom: 310px;
    color: black;
    border: 0;
    background: none;
    z-index: 10000;
}

.slick-slide {
  text-align: center;
}

.slick-slide::before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.slick-slide img {
  vertical-align: middle;
  display: inline-block;
}

html, body {
  margin: 0;
  height: 100vh;
}
.container {
  margin-top: 20%;
}
.img-container {
  width: 100%;
  height: 100%;
}

@include media($large-screen) {
  .slick-next {
      right: 20px;
      text-align: right;
  }

  .slick-next:after {
       content: ">";
       font: 30px/1 'FontAwesome';
  }

  .slick-prev:hover:after,
  .slick-next:hover:after {
      color: #7e7e7e;
  }
  .slick-arrow {
    outline: none;
  }
  .container {
    margin-top: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .page-container {
    padding: 0 32%;
  }
}
